*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    font-family: poppins;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(4, 150, 247), white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.board{
    border: solid;
    margin: 50px;
    text-align: center;
    font-size: x-large;
    font-weight: 550;
}
#quiz{
    font-size: xx-large;
    font-weight: 900;
}
.container{
    position: relative;
    left: 10%;
}
form>div{
    border: rgb(4, 150, 247) 1px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgb(61, 74, 78);
}
input[type=submit]{
    padding: 20px;
    background-color: white;
    width: 30%;
    border-radius: 10px;
    font-size: xx-large;
    position: relative;
    left: 20%;
    margin-top: 15px;
}
